
# Database URL for PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/livenex"# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=ovLi7hAZ6LFmmSrL9LdGCGhEQhhuQmHP
